*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background: #222;
    background-image: url("back.jpg");
    background-repeat:round;
    background-size: auto;
}
.card{
    width: 100vw;
    height: 100%;
    max-height:800px;
    max-width: 320px;
    background: linear-gradient(120deg,#00ffff,#008080);
    color: white;
    margin: 20px auto;
    border-radius: 30px;
    padding: 40px 2px 35px 2px;
    text-align: center;
    opacity: 0.8;

}
@media(min-width:420px){
    .card{
        max-width: 400px;
        padding: 40px 8px 35px 8px;
    }
    .wind, .humidity{
        font-size: 30px;
    
    }
    .weather h1{
        font-size: 80px;
        font-weight: 500;
    }
    .weather h2{
        font-size: 45px;
        font-weight: 400;
        margin-top: -10px;
    }
}
@media(min-width:600px){
    .card{
        max-width: 480px;
        padding: 40px 27px 35px 27px;
    }
    .wind, .humidity{
        font-size: 37px;
    
    }
    .weather h1{
        font-size: 80px;
        font-weight: 500;
    }
    .weather h2{
        font-size: 45px;
        font-weight: 400;
        margin-top: -10px;
    }
    .search button img{
        width:25px;
    }
    .search button{
        width: 60px;
    }
    .col img{
        width: 40px;
        margin-right: 10px;
    }
    .col{
    flex-direction: row;
    }
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: black;
    padding: 10px 25px;
    height: 60px;
    border-radius:30px ;
    flex: 1;
    
    font-size: 18px;

}
.search input:hover {
    transform: scale(1.05);
    background: white;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 45px;
    height: 60px;
    cursor: pointer;

}
.search button:hover {
    transform: scale(1.07);
    background: #6bbebe;
    color: black;
}
.search button img{
    width:15px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 65px;
    font-weight: 500;
}
.weather h2{
    font-size: 38px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;    
    margin-top: 50px;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.wind, .humidity{
    font-size: 24px;
    margin-left: -6px;
}
